/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.notes{
    color: #595959;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: italic;
}